* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	background: #e6e6e6;
}

/*Layout*/
.logo1{
	width: auto;
	padding: auto;
}

.vitrine2{
	color:rgb(177, 92, 226);
	display: block;
	margin: 50px auto;
	max-width: 1300px;
	text-align: center;
	width: 100%;
  }


#logo{


	white-space: 100;
}

#area-cabeçalho{ 
	background: #D4DCE5;
	background-image: -webkit-linear-gradient(top, rgb(177, 92, 226), #AFC2E1);
	background-image: -moz-linear-gradient(top,  rgb(177, 92, 226), #AFC2E1);
	background-image: -ms-linear-gradient(top,  rgb(177, 92, 226), #AFC2E1);
	background-image: -o-linear-gradient(top, rgb(177, 92, 226) , #AFC2E1);
	
    background-image: -moz-linear-gradient(); 
	
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 10px;
} 


#area-principal{
	padding: 15px;
	background: white;
	width: 920px;
	margin: 0 auto;
	border: 5px;
}
/*layout*/
#area-postagens{
	background: white;
	width: auto;
	float: auto;
}

.postagem{
  padding: 20px; 
  margin-bottom: 20px;
  background: white;  

}
#area-lateral{
	background: white;
	width: 240px;
	float: right;
}
.conteudo-lateral{

 	background: white;
 	padding: 10px;
 	margin-bottom: 20px;
}
.postagem-lateral{
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted grey;
}

#rodape{

    clear: both;
    text-align: center;
    padding: 15px;
	background: #ccc;
}


h1 {

	color: #4e4e4e;
	font-size: 2.5em;

}
#area-logo p{
	color: white;
}
h2 {
	color: rgb(177, 92, 226);

}
 h3 {
	color: #fff;

    background-color: grey;
    padding: 5px;
}
.chumbo{
	color: #4e4e4e;
}
.branco{
	color: white;
}
.data-postagem{
	font-size: 0.8;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}
.postagem-lateral{
	font-size: 0.8em;
	padding: 5px;
}

 a{
 	
    text-decoration: none;
}
 #area-cabeçalho a:link,#area-cabeçalho a:visited {
 	color: #FFF;
 	padding: 8px 12px;
 }

 #area-cabeçalho a:hover {

 color: rgb(177, 92, 226) ;
 background-color:  #FFF;

 }
 .postagem a:link,.postagem a:visited {
 	background: #fff;
 	 color:  rgb(177, 92, 226);
 }
 .postagem a:hover {
 	background: #f7b600;
 	color: rgb(177, 92, 226);
 }
 #area-lateral a:link,#area-lateral a:visited {
 	background: #fff;
 	 color:  rgb(177, 92, 226);
 }
 #area-lateral a:hover {
 	background: rgb(177, 92, 226) ;
 	color: white;
 }
 
 
 h3 {
	color: #fff;
    background: grey;
    padding: 5px;
}