<!DOCTYPE html>
<html>
 <head>
	<title>produtos femininos</title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="../css/feminino.css">
	<link rel="stylesheet" type="text/css" href="../css/produtos.css">
</head>
<body>
	<div>
		
     <div id="area-cabeçalho"><!--cabeçalho  
	começa aqui-->
		
	   <div id="area-logo"><!--logo começa aqui -->
		
        <img class="logo" src="../imagens/logo.png">
         <div id="area-menu"><!--menu começa aqui -->
        	<a href="pagina-inicial.html">INICIO</a>
        	<a href="masculino.html">HOMEM</a>
           <a href="feminino.html">MULHER</a>
           <a href="marca.html">MARCA</a>
           <a href="novo.html">NOVO</a>
		
        </div><!--menu termina aqui -->
        <div class="icons-header">
            <!-- Usado para conseguir ajustar em telas maiores. Na versão mobile está como ocultado -->
           <a href=""> <img class="img-search-icon2" src="../imagens/search-icon.svg"></a>
           <a href=""> <img class="img-person" src="../imagens/person-circle.svg"></a>
            <a href=""><img class="img-bag" src="../imagens/bag.svg"></a>
        </div>

		

     </div><!--cabeçalho temina aqui--> 
	
	</div> 
	
   <!--inicio da vitrine de produtos-->
 <div id="area-postagens">  
   <div style="display: block; margin: 0 auto; text-align: center; margin-top: 50px">
	<script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCpXTlrDWlpN46PKieJ-FcPw" data-layout="full" data-count="hidden"></div>
 </div>

<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

<h2 class="vitrine2">Produtos femininos</h2>
<ul class="product-list">
  <li class="product-item">
	  <a href="C:\Users\jorge\Documents\GRUPO-7\views\camiseta-branca1.html" target="_blank" class="product-link">
		  <figure class="product-info">
			<div class="product-info-img">
				<img src="../images/camiseta-fem-branca.jpeg">
			</div>
			  <figcaption class="product-info-description">
				  <h2 class="title">Camiseta branca basica</h2>
				  <p class="description">camiseta 100% algodão,de otima qualidade.</p>
				  <ul class="star-ranking">
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
					  </li>
					  <li class="qtd-votes">
						  </span>(320)</span>
					  </li>
				  </ul>
			  </figcaption>
			  <div class="price-box">
				  <div class="price">
					  <div>
						  <del>R$80,00</del>
						  <ins>R$45,00</ins>
					  </div>
					  <span class="price-info">4x de R$11,25 </span>
				  </div>
			  </div>
		  </figure>
	  </a>
  </li>
  <li class="product-item">
	  <a href="file:///C:/Users/jorge/Downloads/projeto%20css3%20intermediario/camiseta%20branca.html" target="_blank" class="product-link">
		  <figure class="product-info">
			  <div class="product-info-img">
				<img src="../images/camiseta-fem-preta.jpeg">
				  </div>
			  <figcaption class="product-info-description">
				  <h2 class="title">Camiseta preta basica</h2>
				  <p class="description">camiseta 100% algodão,de otima qualidade.</p>
				  <ul class="star-ranking">
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
					  </li>
					  <li class="qtd-votes">
						  </span>(431)</span>
					  </li>
				  </ul>
			  </figcaption>
			  <div class="price-box">
				  <div class="price">
					  <div>
						  <del>R$85,00</del>
						  <ins>R$48,00</ins>
					  </div>
					  <span class="price-info">4x de R$ 12,00 </span>
				  </div>
			  </div>
		  </figure>
	  </a>
  </li>
  <li class="product-item">
	  <a href="https://www.google.com.br" target="_blank" class="product-link">
		  <figure class="product-info">
			  <div class="product-info-img">
				<img src="../images/camiseta-fem-chumbo.png">
				  </div>
			  <figcaption class="product-info-description">
				  <h2 class="title">Camiseta chumbo basica</h2>
				  <p class="description">camiseta 100% algodão,de otima qualidade.</p>
				  <ul class="star-ranking">
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
					  </li>
					  <li class="qtd-votes">
						  </span>(200)</span>
					  </li>
				  </ul>
			  </figcaption>
			  <div class="price-box">
				  <div class="price">
					  <div>
						  <del>R$95,00</del>
						  <ins>R$66,00</ins>
					  </div>
					  <span class="price-info">3x de R$ 22,00 </span>
				  </div>
			  </div>
		  </figure>
	  </a>
  </li>
  <li class="product-item">
	  <a href="https://www.google.com.br" target="_blank" class="product-link">
		  <figure class="product-info">
			  <div class="product-info-img">
				  <img src="../images/camiseta-fem-salmon.png">
				  </div>
			  <figcaption class="product-info-description">
				  <h2 class="title">Camiseta salmão</h2>
				  <p class="description">camiseta 100% algodão,de otima qualidade.</p>
				  <ul class="star-ranking">
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/2kW5mnM/star.png">
					  </li>
					  <li><img src="https://i.ibb.co/TwYYb93/star-1.png">
					  </li>
					  <li class="qtd-votes">
						  </span>(332)</span>
					  </li>
				  </ul>
			  </figcaption>
			  <div class="price-box">
				  <div class="price">
					  <div>
						  <del>R$94,00</del>
						  <ins>R$88,00</ins>
					  </div>
					  <span class="price-info">4x de R$ 22,00 </span>
				  </div>
			  </div>
		  </figure>
	  </a>
  </li>
</ul>


<footer >

 <div id="rodape"class="gap"></div>

    <ul class="dados-empresa" type="none">
            <li><a href="">Sobre nos</a></li>
            <li><a href="">nossa Politica</a></li>
            <li><a href="">Entre em contato</a></li>
            <li><a href="">Trabalhe Conosco</a></li>
        </ul>
        
        
        <ul class="redes-sociais" type="none">
            <li><a href="" target="_blank">
                <img src="../imagens/facebook.svg" class="icon-socialnetworks" id="facebook-icon">
                </a>
            </li>
            <li><a href="" target="_blank">
                <img src="../imagens/instagram.svg" class="icon-socialnetworks" target="_blank">
            </a></li>
            <li><a href="" target="_blank">
                <img src="../imagens/twitter.svg" class="icon-socialnetworks">
            </a></li>
            <li><a href="" target="_blank">
                <img src="../imagens/youtube.svg"class="icon-socialnetworks">
                </a>
            </li>
        </ul>

        <div class="devellopers">
            <span>Criado por Jorge Fernando R. Silva</span>
        </div>
    </footer>
  
	
</body>
</html>